# Ignorera Python-kompilerade filer
*.pyc
*.pyo
*.pyd
__pycache__/
Python/

# Ignorera miljövariabler
.env
*.env

# Ignorera VSCode-filer
.vscode/

# Ignorera test-/datafiler
*.sqlite3
*.db
*.log
*.json

# Ignorera Mac/Windows systemfiler
.DS_Store
Thumbs.db
